<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atguigu.lease.web.admin.mapper.RoomLeaseTermMapper">

    <select id="getLeaseTermByRoomId" resultType="com.atguigu.lease.model.entity.LeaseTerm">
        select * from room_lease_term where room_id = #{id}
    </select>
</mapper>
